.container {
	position: relative;
	left: 50%;
	margin-left: -600px;
	width: 1200px;
}

.blind {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 1rem;
	color: transparent;
	overflow: hidden;
}

#header {
	.system-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		.logo {
			.title {
				width: 157px;
    			height: 37px;
			}
			.img {
				position: relative;
			}
			.img::before {
				position: absolute;
				content: '';
				display: block;
				left: 0;
				top: 0;
				background: url('/assets/images/sp_common.png') 0 0;
				width: 157px;
				height: 37px;
			}
		}

		.location {
			display: flex;
			padding: 0 10px 5px 10px;
			color: #111;
    		font-weight: 600;
			width: 345px;
			font-size: 15px;
			border-bottom: 1px solid #222;
			cursor: pointer;
			.icon {
				display: block;
				content: '';
				width: 26px;
				height: 20px;
				background: url('/assets/images/sp_common.png') -160px 0;
			}
		}

		.util {
			ul {
				display: flex;
				align-items: center;
			}

			li {
				margin-right: 30px;
			}

			li:last-child {
				margin-right: 0;
			}

			a {
				font-size: 14px;
    			color: #111;
			}

			select {
				padding: 0 10px;
				width: 71px;
				height: 27px;
				border: 1px solid #ddd;
				border-radius: 13.5px;
				font-size: 12px;
				color: #888;
			}
		}
	}

	.gnb-block {
		margin-bottom: 20px;
		.gnb {
			float: left;
			width: calc(100% - 200px);
			ul {}

			li {
				display: inline-block;
			}

			a {
				padding-right: 125px;
				display: block;
				font-size: 18px;
				color: #111;
			}
		}

		.view-more {
			float: right;
			width: 200px;
			text-align: right;
			a {
				font-size: 18px;
    			color: #111;
				.icon {}
			}
		}
	}
}

#main {
	.sec-mainslider {
		.swiper-container {
			.swiper-wrapper {
				.swiper-slide {}
			}
		}

		.navigation {
			button {}
		}
	}

	.sec-order {
		padding: 56px 0;
		ul {
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 1000px;
		}

		li {
			.icon {
				display: block;
				content: '';
			}

			.title {
				padding-top: 5px;
				font-weight: 400;
				font-size: 42px;
				letter-spacing: -4px;
				.btn-icon {
					position: relative;
					left: 9px;
					display: inline-block;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					i {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						font-family: 'ionicons';
						font-size: 24px;
						color: #fff;
					}
				}
			}

			.text {
				padding-top: 17px;
				font-size: 16px;
				line-height: 1.5;
				color: #888;
			}
		}

		.order-list.list01 {
			.icon {
				width: 60px;
				height: 40px;
				background: url('/assets/images/sp_common.png') -220px 0;
			}

			.title {
				color: #ff143c;
				.btn-icon {
					background-color: #ff143c;
				}
			}

			.text {}
		}
		.order-list.list02 {
			.icon {
				width: 54px;
				height: 40px;
				background: url('/assets/images/sp_common.png') -281px 0;
			}

			.title {
				color: #1382ff;
				.btn-icon {
					background-color: #1382ff;
				}
			}

			.text {}
		}
		.order-list.list03 {
			.icon {
				width: 26px;
				height: 42px;
				background: url('/assets/images/ico-quick3.png') no-repeat;
			}

			.title {
				color: #000;
				.btn-icon {
					background-color: #000;
				}
			}

			.text {}
		}
	}
}
